.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 90vw;
  margin: 10vh auto;
  padding-bottom: 5vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e8ff;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #382ae1;
  color: white;
  width: 100%;
  margin-bottom: 5vh;
  font-size: 2rem;
  padding: 5vh 2vw;
}

.output {
  border: 0px solid black;
  width: 18vw;
  padding: 4vh 2vw;
  border-radius: 50%;
  background-color: #382ae1;
  color: white;
  box-shadow: 2px 3px 7px grey;
  margin-top: 1vh;
}

.outputsection {
  margin-top: 6vh;
}

.input-section {
  width: 70%;
}

.input-slider {
  width: 100%;
  margin-top: 1vh;
}

.slider-output {
  text-align: left;
  margin-top: 3vh;
}

@media only screen and (min-width: 600px) {
  .App {
    width: 30vw;
  }

  .output {
    width: 8vw;
  }
}
