.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 5vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: aqua;
  padding: 10px;
  width: 100%;
  margin-bottom: 5vh;
}

.output {
  border: 0px solid black;
  width: 18vw;
  padding: 4vh 2vw;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 3px 7px grey;
  margin-top: 1vh;
}

.outputsection {
  margin-top: 6vh;
}

.input-section {
  width: 70%;
}

.input-slider {
  width: 100%;
  margin-top: 1vh;
}

.slider-output {
  text-align: left;
  margin-top: 3vh;
}
